/* custom properties */
:root {
--fontSize: 1rem;
--mainColor: #12345678;
--highlightColor: hwb(190, 35%, 20%);
--fontFamily: 'Roboto', sans-serif;
}

/* custom media queries */
@custom-media --viewport-medium (width <= 50rem);

/* some var() & calc() */
body {
    color: var(--mainColor);
    font-size: var(--fontSize);
    font-family: var(--fontFamily);
    line-height: calc(var(--fontSize) * 1.5);
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* colors stuff */
a {
    color: var(--highlightColor);
    transition: color 1s; /* autoprefixed ! */
}
a:hover { color: gray(255, 50%) }
a:active { color: rebeccapurple }
a:any-link { color: color(var(--highlightColor) blackness(+20%)) }

/* font stuff */
h1 {
    font-weight: 200;
    font-size: 3em;
    color: #444;
    line-height: 1em;
}

p {
    font-weight: 300;
    font-size: 1.4em;
    color: #444;
    line-height: 1.4em;
}

.panel {
    padding: 2em;
}
